{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">PMM</a>
                    <a class="navbar-brand" href="/adm/">Modulo de Administracion</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/">Home</a></li>
                        <li><a href="/adm/perfil/{{ user.id }}">{{ user.username }}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-sm-3 col-md-2 sidebar">
                        <ul class="nav nav-sidebar">
                            {% if user|verificarRolUsuario%}
                                <li class="active"><a class="modulos" href="/adm/">Modulo de Administracion</a></li>
                            {% endif %}
                            <li><a class="modulos" href="/home/">Modulo de Gestion de Cambio</a></li>
                            <li><a class="modulos" href="/des/">Modulo de Desarrollo</a></li>
                            {% if user|verificarRolUsuario%}
                                <li><a href="/adm/usuario/">Usuarios</a></li>
                            {% endif %}
                            <li><a href="/adm/roles/">Roles</a></li>
                            <li><a href="/adm/proyectos/">Proyecto</a></li>
                            <li><a href="/adm/comite_list/">Comite</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    {% block content %}{% endblock %}
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/rango-ajax.js' %}"></script>
  </body>
</html>
