{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Crear Comite. Solo puede seleccionar 3 Usuarios</h1>
        </br>
        {% if registered %}
            <strong>Se ha creado el Comite!</strong><br/>
            <a href="/adm/">Retornar a la pagina de inicio</a><br/>
        {% else %}
            <strong><h4>Complete los datos</h4></strong>
            </br>

            <form id="comite_form" method="post" action="/adm/comite_create/"
                  enctype="multipart/form-data">

                {% csrf_token %}

                {{ comite_form.as_p }}
                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Crear" />
            </form>
        {% endif %}
    </div>
{% endblock %}