{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Roles</h1>
        </br>
        {% for group in object_list %}
            <li>
                <h4>{{ group.name}}  :
                    <a href="{% url "group_edit" group.id %}">Modificar</a>
                    <a href="{% url "group_delete" group.id %}">Eliminar</a>
                </h4>
            </li>
        {% endfor %}
    </div>
{% endblock %}