{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% load tags %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/adm/">Modulo de Administracion</a></li>
            </ol>
        </div>
    </div>
    <h3 class="page-header">Usuarios</h3>
    <div class="well">
        <div class="row">
            <div class="col-xs-6 col-sm-3 placeholder">
                <ul class="nav nav-list">
                    <li class="nav-header">Buscar Usuarios
                    <form autocomplete="off">
                        <label></label>
                        <input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" />
                    </form></li>
                </ul>
                <div id="cats">
                    {% include 'adm/category_list.html' with cat_list=cat_list %}
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/register/"><span class="glyphicon glyphicon-plus"></span></a></h4>
                <span class="text-muted">Nuevo Usuario</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">

                <h4><a class="btn btn-primary" href="/adm/user_list/"><span class="glyphicon glyphicon-th-list"></span></a></h4>
                <span class="text-muted">Lista de Usuarios</span>
            </div>
        </div>
    </div>
    <h3 class="page-header">Roles</h3>
    <div class="well">
        <div class="row">
            <div class="col-xs-6 col-sm-3 placeholder">

                <ul class="nav nav-list">
                    <li class="nav-header">Buscar Roles
                    <form autocomplete="off">
                        <label></label>
                        <input  class="search-query span10" type="text" name="suggestion_rol" value="" id="suggestion_rol" />
                    </form></li>
                </ul>
                <div id="cats_rol">
                    {% include 'adm/roles_list.html' with cat_list=cat_list %}
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/group_create/"><span class="glyphicon glyphicon-plus"></span></a></h4>
                <span class="text-muted">Nuevo Rol</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/group_list/"><span class="glyphicon glyphicon-th-list"></span></a></h4>
                <span class="text-muted">Lista de Roles</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Label</h4>
                <span class="text-muted">No implementado</span>
            </div>
        </div>
    </div>
    <h3 class="page-header">Permisos</h3>
    <div class="well">
        <div class="row">
            <div class="col-xs-6 col-sm-3 placeholder">
                <ul class="nav nav-list">
                    <li class="nav-header">Buscar Permisos
                    <form autocomplete="off">
                        <label></label>
                        <input  class="search-query span10" type="text" name="suggestion_permiso" value="" id="suggestion_permiso" />
                    </form></li>
                </ul>
                <div id="cats_permiso">
                    {% include 'adm/permisos_list.html' with cat_list=cat_list %}
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Label</h4>
                <span class="text-muted">No implementado</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Label</h4>
                <span class="text-muted">No implementado</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Label</h4>
                <span class="text-muted">No implementado</span>
            </div>
        </div>
    </div>
    <h3 class="page-header">Proyectos</h3>
    <div class="well">
        <div class="row">
            <div class="col-xs-6 col-sm-3 placeholder">
                <ul class="nav nav-list">
                    <li class="nav-header">Buscar Proyectos
                    <form autocomplete="off">
                        <label></label>
                        <input  class="search-query span10" type="text" name="suggestion_proyecto" value="" id="suggestion_proyecto" />
                    </form></li>
                </ul>
                <div id="cats_proyectos">
                    {% include 'adm/proyectos_list.html' with cat_list=cat_list %}
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/project_create/"><span class="glyphicon glyphicon-plus"></span></a></h4>
                <span class="text-muted">Nuevo Proyecto</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/project_list/"><span class="glyphicon glyphicon-th-list"></span></a></h4>
                <span class="text-muted">Lista de Proyectos</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/project_import_list/"><span class="glyphicon glyphicon-th-list"></span></a></h4>
                <span class="text-muted">Importar Proyecto</span>
            </div>
        </div>
    </div>
    <h3 class="page-header">Comites</h3>
    <div class="well">
        <div class="row">
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/comite_create/"><span class="glyphicon glyphicon-plus"></span></a></h4>
                <span class="text-muted">Nuevo Comite</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4><a class="btn btn-primary" href="/adm/comite_list/"><span class="glyphicon glyphicon-th-list"></span></a></h4>
                <span class="text-muted">Lista de Comites</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Label</h4>
                <span class="text-muted">No implementado</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Label</h4>
                <span class="text-muted">No implementado</span>
            </div>
        </div>
    </div>

{% endblock %}
<script type="text/javascript">
$(document).ready(function() {
	// Drag-n-Drop feature
	WinMove();
});
</script>