{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/adm/">Administracion</a></li>
                <li><a href="#">Permisos</a></li>
            </ol>
        </div>
    </div>
    <table class="table table-bordered tabla_usuarios">
        <thead>
            <tr>
                <th class="col-sm-1">id</th>
                <th class="col-sm-1">Permiso</th>
                <th class="col-sm-1">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for permiso in object_list %}
                <tr>
                    <td>{{ permiso.id }}</td>
                    <td>{{ permiso.codename }}</td>
                    <td>{{ permiso.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}