{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}

    </br>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">Permisos</h2>
    </div>
    <table class="table table-bordered tabla_usuarios">
        <thead>
            <tr>
                <th class="col-sm-1">id</th>
                <th class="col-sm-1">Permiso</th>
                <th class="col-sm-1">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for permiso in object_list %}
                <tr>
                    <td>{{ permiso.id }}</td>
                    <td>{{ permiso.codename }}</td>
                    <td>{{ permiso.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}