{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Proyectos</h1>
        </br>
        {% for proyecto in object_list %}
            <li>
                <h4>{{ proyecto.nombre_proyecto}}

                    {% if user == proyecto.lider_proyecto or valido %}
                        :
                        <a href="/adm/fase_create/{{ proyecto.id_proyecto }}">Agregar Fase</a> |
                        <a href="/adm/project_update/{{ proyecto.id_proyecto }}">Modificar</a> |
                        <a href="/adm/phases_list/{{ proyecto.id_proyecto }}">Fases</a> |
                        <a href="/adm/project_delete/{{ proyecto.id_proyecto }}">Eliminar</a>
                    {% endif %}
                </h4>
            </li>
        {% endfor %}
    </div>
{% endblock %}