{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/adm/">Administracion</a></li>
                <li><a href="/adm/proyectos/">Proyectos</a></li>
                <li><a href="#">Perfil de Proyecto</a></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main form_class">
        <h2>Proyecto: {{ project.nombre_proyecto }}</h2>
        <br/>
        <h4><strong>Descripcion:</strong> {{ project.descripcion }}</h4>
        <h4><strong>Presupuesto:</strong> {{ project.presupuesto }}</h4>
        <h4><strong>Estado:</strong> {{ project.estado_proyecto }}</h4>
        <h4><strong>Fecha Inicio:</strong> {{ project.fecha_inicio }}</h4>
        <h4><strong>Fecha Fin:</strong> {{ project.fecha_fin }}</h4>
        <h4><strong>Lider de Proyecto:</strong> {{ project.lider_proyecto }}</h4>
        <h4><strong>Numero de Fases:</strong> {{ project.numero_fases }}</h4>
{#        <h4><strong>Roles:</strong> {{ project.groups.select_related }}</h4>#}
    </div>
{% endblock %}