{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}

    </br>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">Proyectos</h2>
    </div>
    <table class="table table-bordered tabla_usuarios">
        <thead>
            <tr>
                <th class="col-sm-1">Nombre</th>
                <th class="col-sm-1">Descripcion</th>
                <th class="col-sm-1">Presupuesto</th>
                <th class="col-sm-1">Fecha Inicio</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in project_list %}
                 <tr>
                    <td><a href="/adm/project_update/{{ proyecto.id_proyecto }}">{{ proyecto.nombre_proyecto }}</a></td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.presupuesto }}</td>
                    <td>{{ proyecto.fecha_inicio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}