{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Crear Usuario</h1>
        </br>
        {% if registered %}
            <strong>Se ha creado el usuario!</strong><br/>
            <a href="/adm/">Retornar a la pagina de inicio</a><br/>
        {% else %}
            <form role="form" id="user_form" method="post" action="/adm/register/"
                    enctype="multipart/form-data">
                {% csrf_token %}
                <h4 class="page-header">Datos del Usuario</h4>
                <div class="form_class">
                    {{ user_form.as_p }}
                </div>
                </br>
                <h4 class="page-header">Datos Personales</h4>
                <div class="form_class">
                    {{ profile_form.as_p }}
                </div>
                </br>
                <input class="btn" type="submit" name="submit" value="Registrar" />
            </form>
        {% endif %}
    </div>
{% endblock %}
