{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/adm/">Administracion</a></li>
                <li><a href="/adm/usuario/">Usuarios</a></li>
                <li><a href="#">Crear Usuario</a></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% if registered %}
            <strong>Se ha creado el usuario!</strong><br/>
            <a href="/adm/usuarios/">Retornar a la pagina de inicio</a><br/>
        {% else %}
            <form role="form" id="user_form" method="post" action="/adm/register/"
                    enctype="multipart/form-data">
                {% csrf_token %}
                <h4 class="page-header">Datos del Usuario</h4>
                <div class="form_class">
                    {{ user_form.as_p }}
                </div>
                </br>
                <h4 class="page-header">Datos Personales</h4>
                <div class="form_class">
                    {{ profile_form.as_p }}
                </div>
                </br>
                <input class="btn btn-primary" type="submit" name="submit" value="Crear" />
            </form>
        {% endif %}
    </div>
{% endblock %}
