{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/adm/">Administracion</a></li>
                <li><a href="#">Roles</a></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h5 class="page-header"><a href="/adm/group_create/">Agregar</a> | <a href="/adm/group_list/">Listar</a></h5>
    </div>
    <table class="table table-bordered tabla_usuarios">
        <thead>
            <tr>
                <th class="col-sm-1">Nombre</th>
                <th class="col-sm-1">Permisos</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in object_list %}
                <tr>
                    <td><a href="/adm/group_edit/{{ rol.id }}">{{ rol.name }}</a></td>
                    <td>{{ rol.permissions.select_related }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}