{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/adm/">Administracion</a></li>
                <li><a href="#">Usuarios</a></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h5 class="page-header"><a href="/adm/register/">Agregar</a> | <a href="/adm/user_list/">Listar</a></h5>
    </div>

     <table class="table table-bordered tabla_usuarios">
        <thead>
            <tr>
                <th class="col-sm-1">Username</th>
                <th class="col-sm-1">Nombre</th>
                <th class="col-sm-1">Apellido</th>
                <th class="col-sm-1">Ci</th>
                <th class="col-sm-1">Telefono</th>
                <th class="col-sm-1">Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in object_list %}
                <tr>
                    <td><a href="/adm/user_edit/{{ user.id }}">{{ user.username }}</a></td>
                    <td>{{ user.userprofile.nombre }}</td>
                    <td>{{ user.userprofile.apellido }}</td>
                    <td>{{ user.userprofile.ci }}</td>
                    <td>{{ user.userprofile.telefono }}</td>
                    <td>{{ user.is_active }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}