<!DOCTYPE html>
<html>

    <head>
        <title>PMM</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <h1>Bienvenido {{ user.username }}</h1>
        {% else %}
            <h1>Projects Master Manager</h1>
        {% endif %}

        Hola mundo! <strong>{{ boldmessage }}</strong><br />
        {% if user.is_authenticated %}
        <a href="/adm/restricted/">Restricted Page</a><br />
        <a href="/adm/logout/">Logout</a><br />
        <a href="/adm/register/">Crear Usuario</a><br />
        <a href="/adm/profile/">Ver perfil</a><br />
        <a href="/adm/user_list">Lista de usuarios</a>
        {% else %}
        <a href="/adm/login/">Login</a><br />
        {% endif %}
    </body>

</html>