{% extends 'gdc/gdc_base_logged.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/gdc/">Gestion de Cambio</a></li>
                <li><a href="/gdc/project_profile/{{ objeto_fase.proyecto.id_proyecto }}">{{ objeto_fase.proyecto }}</a></li>
                <li><a href="/gdc/project_profile/{{ objeto_fase.proyecto.id_proyecto }}">{{ objeto_fase.nombre_fase }}</a></li>
                <li><a href="#">Crear Linea Base</a></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% if error %}
            <strong style="color: red">{{ error }}</strong><br/>
        {% endif %}
        {% if creado %}
            <strong>Se ha creado la Linea Base!</strong><br/>
            <a href="/gdc/project_profile/{{ objeto_fase.proyecto_id }}">Retornar a la pagina anterior</a><br/>
        {% else %}
            <strong><h4>Complete los datos</h4></strong>
            </br>

            <form class="form_class" id="form_class" method="post" action="/gdc/crear_linea_base/{{ fase }}"
                    enctype="multipart/form-data">

                {% csrf_token %}

                {{ linea_base_from.as_p }}
                <input class="btn btn-primary" type="submit" name="submit" value="Crear" />
            </form>
        {% endif %}
    </div>
{% endblock %}