{% extends 'adm/adm_base_logged.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/des/">Desarrollo</a></li>
                <li><a href="/adm/proyectos/">Proyectos</a></li>
                <li><a href="#">Lista de Fases</a></li>
            </ol>
        </div>
    </div>
    <h3>Seleccionar la Fase a agregar la Linea Base</h3>
    </br>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% for fase in object_list %}
            <li>
                <h4>{{ fase.nombre_fase }}  :
                    {% if fase.estado_fase == 'CERRADA' %}
                        Fase Cerrada
                    {% else %}
                        <a href="/gdc/crear_linea_base/{{ fase.id_fase }}">Crear Linea Base</a> |
                        <a href="/gdc/listar_linea_base/{{ fase.id_fase }}">Listar Linea Base</a>
                    {% endif %}
                </h4>
            </li>
        {% endfor %}
    </div>
{% endblock %}