{% extends 'des/des_base_logged.html' %}
{% load static %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/des/">Desarrollo</a></li>
                <li><a href="/des/project_profile/{{ fase.proyecto.id_proyecto }}">{{ fase.proyecto }}</a></li>
                <li><a href="/des/project_profile/{{ fase.proyecto.id_proyecto }}">{{ fase.nombre_fase }}</a></li>
                <li><a href="#">Agregar Relaciones</a></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% if error %}
            <strong style="color: red">{{ error }}</strong><br/>
        {% endif %}
        {% if creado %}
            <strong>Se ha agregado la relacion!</strong><br/>
            <a href="/des/project_profile/{{ fase.proyecto.id_proyecto }}">Retornar a la pagina de inicio</a><br/>
        {% else %}
            </br>

            <form class="form_class" id="form_class" method="post" action="/des/agregar_relaciones/{{ fase.id_fase }}"
                    enctype="multipart/form-data">

                {% csrf_token %}

                {{ relacion_form.as_p }}
                <!-- Provide a button to click to submit the form. -->
                <input class="btn btn-primary" type="submit" name="submit" value="Crear" />
                <input type="hidden" id="id_fase" value="{{ fase.id_fase }}" />
            </form>
        {% endif %}
    </div>
    {% block js %}
        <script type="text/javascript">
            $(document).ready(function() {

                $( "#id_tipo" ).change(function() {
                    if ($('#id_tipo option:selected').val() == "PADRE-HIJO"){
                        $.get('/des/get_relation_items/', {id_fase: $('#id_fase').val()}, function(data){
                                 $('#id_al_item').html(data);
                        });
                    }else if( $('#id_tipo option:selected').val() == "ANTECESOR-SUCESOR" ){
                        id_fase = $('#id_fase').val();
                        id_fase++;
                        $.get('/des/get_relation_items/', {id_fase: id_fase}, function(data){
                                 $('#id_al_item').html(data);
                        });
                    }
                });
            })
            $( "#id_al_item" ).change(function() {
                var miValue = $("#id_al_item" ).val();
                alert(miValue);
                if (miValue > 0)
                    $("#id_al_item option[value="+miValue+"]").attr("selected",true);
            });
        </script>
    {% endblock %}
{% endblock %}
