{% extends 'des/des_base_logged.html' %}
{% load static %}
{% load i18n %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Adjuntar Archivo</h1>
        </br>
        {% if creado %}
        <strong>Se ha creado el item!</strong><br/>
        <a href="/des/">Retornar a la pagina de inicio</a><br/>
        {% else %}
            <strong><h4>Complete los datos</h4></strong>
            </br>

            <form class="form_class" id="form_class" method="post" action="/des/crear_archivoAdjunto/"
                    enctype="multipart/form-data">

                {% csrf_token %}

                {{ archivoAdjunto_form.as_p }}
                <!-- Provide a button to click to submit the form. -->
                <input class="btn btn-primary" type="submit" name="submit" value="Adjuntar" />
            </form>
        {% endif %}
    </div>
{% endblock %}