{% extends 'des/des_base_logged.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Tipos de Item</h1>
        </br>
        <div class="row">
            <ul class="list-group">
                {% for tipo_item in lista_tipo_item %}
                    <li class="list-group-item">
                        <h4 ><a href="{% url "editar_tipo_item" tipo_item.id_tipo_item %}">{{ tipo_item.nombre_tipo_item}}</a>

                        </h4>
                        <a class="btn btn-danger" href="{% url "eliminar_tipo_item" tipo_item.id_tipo_item %}">
                              <i class="icon-trash icon-white"></i>
                              Eliminar
                            </a>
                    </li>

                {% endfor %}
            </ul>
        <h4><a class="btn btn-success" href="/des/crear_tipo_item/">Nuevo Tipo de Item</a></h4>
        </div>
    </div>
{% endblock %}