{% extends 'des/des_project_selected.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block title %}PMM{% endblock %}
{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">PMM</a></li>
                <li><a href="/des/">Desarrollo</a></li>
                <li><a href="#">{{ project.nombre_proyecto }}</a></li>
                <li><a href="#">Grafico</a></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main form_class">
        <h2>Proyecto: {{ project.nombre_proyecto }}</h2>
        <br/>
        <h4><strong>Estado:</strong> {{ project.estado_proyecto }}</h4>
        <h4><strong>Fecha Inicio:</strong> {{ project.fecha_inicio }}</h4>
        <h4><strong>Fecha Fin:</strong> {{ project.fecha_fin }}</h4>
        <h4><strong>Lider de Proyecto:</strong> {{ project.lider_proyecto }}</h4>
    </div>
    <div class="row">
        <div style="text-align: center">
            <img src="/static/img/grafico_proyecto_{{ project.id_proyecto }}.png">
        </div>
    </div>
{% endblock %}