<!DOCTYPE html>
<html>
    <head>
        <title>Administracion</title>
    </head>

    <body>
        <h1>Crear Usuario</h1>

        {% if registered %}
        <strong>Se ha creado el usuario!</strong>
        <a href="/pmm_is2/apps/modelos">Retornar a la pagina de inicio</a><br />
        {% else %}
        <strong>Crear Usuario</strong><br />

        <form id="user_form" method="post" action="/pmm_is2/apps/modelos/registrar/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Registrar" />
        </form>
        {% endif %}
    </body>
</html>